@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUutLY.ttf) format('truetype');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/amiri/v27/J7acnpd8CGxBHp2VkaY_zps.ttf) format('truetype');
}
