.rg-image-wrapper{
    position:relative;
    padding:2px 20px;
    /*background:transparent url(black.png) repeat top left;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    min-height:20px;
}
.rg-image{
    position:relative;
    text-align:center;
    line-height:0px;
}
.rg-image img{
    max-height:35%;
    max-width:35%;
}
.rg-image-nav a{
    position:absolute;
    top:0px;
    left:0px;
    background:/*#000*/ url(../../../../zadgroup.net/bnothemen/themes/othemen/css/nav.html) no-repeat -20% 50%;
    width:28px;
    height:100%;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.3;
    outline:none;
    -moz-border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
    right:0px;
    left:auto;
    background-position:115% 50%;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
    opacity:1;
}
.rg-caption {
    text-align:center;
    margin-top:15px;
    position:relative;
}
.rg-caption p{
    font-size:11px;
    letter-spacing:2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height:16px;
    padding:0 15px;
    text-transform:uppercase;
}
.rg-view{
    height:30px;
}
.rg-view a{
    display:block;
    float:right;
    width:16px;
    height:16px;
    margin-right:3px;
    background:#464646 url(../../../../zadgroup.net/bnothemen/themes/othemen/css/views.png) no-repeat top left;
    border:3px solid #464646;
    opacity:0.8;
}
.rg-view a:hover{
    opacity:1.0;
}
.rg-view a.rg-view-full{
    background-position:0px 0px;
}
.rg-view a.rg-view-selected{
    background-color:#6f6f6f;
    border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
    background-position:0px -16px;
}
.rg-loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 url(../../../../zadgroup.net/bnothemen/themes/othemen/css/ajax-loader.gif) no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
}


/********* new slider *********/

.hide{
    display:none;
}
/*
 * book slider
*/
#books-blk{
    direction: rtl;
    padding: 0 0 0 0;
    position: absolute;
    top: 40px;
}
#intro {
    padding-bottom: 10px;
}

.new_slider {
    background:;
    width: 443px;
    margin: 0 auto;
    padding:0 0 40px;
    position: relative;
    direction:ltr;
}



.scrollContainer {
    position: relative;
}

.scrollContainer div.panel {
    padding: 0;
    width: 150px;
    min-height:1100px;
    position:relative;
    clear:inherit;
}
.inside {
    padding: 10px;
}

.inside img
{
    /* display: block;
     margin: 0 0 15px 0;
     width: 125px !important;
     border:1px solid #b39f7e;
     padding:5px;
     background:#ece5d2;
     -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
     -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.2);
     box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.2);*/
}
.pub-div {height:300px !important; clear:both; display:block; width:80% !important;}
.pub-div img {
    /*display: block;
margin: 0 0 15px 0;
width: 125px !important;*/
 
    display: inline-block; width: 59px;	
    border:1px solid #b39f7e;
    padding:5px;
    background:#ece5d2;
    -webkit-box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 2px 2px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 2px 2px rgba(50, 50, 50, 0.2);}
.scrollButtons {
    position: absolute;
    top: 227px;
    cursor: pointer;
}


.scrollButtons.left {
    left: 75px;
}

.scrollButtons.right {
    right: 75px;
}
/*
 * END book slider
*/

.fp-det {
    /* background: nsone repeat scroll 0 0 #554488;*/
    border-top:1px dashed #c3c1c2;direction: rtl;
    padding-top:10px;
    position: absolute;
    right: -135px;
    text-align: justify;
    width: 451px;
    z-index:99;
}


/*********my add class*********/
.view-list-title-box-2 {
    margin: 16px 4px 0;
}

.text-title-view-in {

    /*float: right;*/

    /*float: right;*/
    text-align: center;
}

.inner-content { direction:rtl; text-align:right;}
.line-height {line-height:1.5em; /*font-size:17px;*/}
.content-2 {
    margin:0px 12px 30px 12px;
    direction:ltr;
    height:1024px;
}

.font-color-brown {color:#8A4917}

.list-books-link
{
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    background: url("images/lib-advert.jpg") no-repeat scroll 0 0 transparent;
    height:auto; 
    text-align:center; 
    position:relative; 
    margin-top:10px; 
    min-height:100px;
}
.list-books-link a {
    display: block;
    width: 100%;
    height: 100px;
}
.list-books-link div{padding:10px 65px; font-size:22px;}
.book-link {position:absolute; right:7px; top:29px; width:59px !important; height:52px; background:none !important; border:none !important; -webkit-box-shadow: none !important;
            -moz-box-shadow:none !important;
            box-shadow:none !important; }
.download {position:absolute; left:16px; top:29px; width:54px !important; height:55px; background:none !important; border:none !important; -webkit-box-shadow: none !important;
           -moz-box-shadow:none !important;
           box-shadow:none !important;}
.introduction-book {text-align:justify; padding:10px 0 0; direction:rtl; max-height:120px; overflow:hidden}

.font-normal
{
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 14px;
}
.view-list-body-title-2 {
    text-align:center;
    background:#ebe7dc;
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 18px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;font-family:Arial, Helvetica, sans-serif; color:#8A4917; background:#ebe7dc; padding:2px !important; margin:0
}
.view-list-body-title-3{
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 18px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;font-family:Arial, Helvetica, sans-serif; color:#8A4917; background:#ebe7dc; padding:2px !important; margin:0
}
.view-node-img {
    box-shadow: -1px 1px 4px 0 #393027;
    float: right;
    height: 116px !important;
    margin: 25px 183px 10px 0 !important;
    width: 80px !important;
}
.introduction-book p {
    font-size: inherit !important;
    padding:0 5px;
}

.line-parts {
    border-bottom: 1px solid #e4dfd2;
    margin: 0 0 10px;
}

.no-img-style a img{
    width: inherit !important;
    height:inherit !important;
    border:0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: none;
    padding: 0px;

}

.no-img-style {
    margin: 0 11px;
}